@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.swiper-button-disabled {
  opacity: 0.2;
}

html {
  background-color: #f6f6f6;
  font-size: 16px;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
}

[class*=wrapper] {
  width: 100%;
  height: 100%;
}

[class*=__container] {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5px;
}

.social {
  cursor: pointer;
}

.social img {
  border-radius: 50%;
}

.social > img:not(:last-child) {
  margin-right: 35px;
}

.social img {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

._link-white a,
._link-black a,
._link-white-black a {
  font-weight: 600;
  font-size: 26px;
  line-height: 125%;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

._link-white a {
  color: #FFF;
}

._link-white a:hover {
  color: #000;
}

._link-black a {
  color: #FFF;
}

._link-black a:hover {
  color: #E52038;
}

._link-white-black a {
  color: #000;
}

._link-white-black a:hover {
  color: #E52038;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  display: none;
}

body.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 50px 10px;
}

.header__burger {
  margin-right: 15px;
}

.header__burger-page .active {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo img {
  width: 313px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social a:not(:last-child) {
  margin-right: 40px;
}

.header__social a:last-child {
  margin-right: 140px;
}

.header__social a:hover {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.header__contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__contact-email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #000000;
}

.header__contact-email a:not(:last-child) {
  margin-right: 87px;
}

.header__contact-email a img {
  margin-right: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__contact-email a:hover {
  color: #4b4646;
  text-shadow: 1px 0px 4px #E52038;
}

.screen__container {
  margin-top: 100px;
  color: #000;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen__swiper {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.screen__slide {
  background-image: url(../img/social/swiper/s1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-left: 100px;
}

.screen-pagination {
  position: relative;
  text-align: center;
  z-index: 15;
  top: -50px;
}

.screen .screen__swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.screen__slide p {
  font-weight: 900;
  font-size: 160px;
  line-height: 165px;
  text-transform: uppercase;
  background: -o-linear-gradient(313.87deg, #E52038 21.95%, #000000 53.77%);
  background: linear-gradient(136.13deg, #E52038 21.95%, #000000 53.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.screen-container {
  margin-top: 100px;
  color: #000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.founded__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 140px;
  padding: 0 200px;
}

.founded__item {
  max-width: 404px;
  padding-bottom: 25px;
}

.founded__item:not(:last-child) {
  margin-right: 40px;
}

.founded__item-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #000000;
  position: relative;
  padding-bottom: 10px;
}

.founded__item-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #E52038;
}

.founded__item-social {
  margin-top: 70px;
}

.founded__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: lowercase;
  color: #484848;
}

.founded__text ._padding {
  margin-bottom: 35px;
}

.founded__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.produkcja__container {
  background-color: #E52038;
}

.produkcja__title {
  color: #FEFEFE;
}

.produkcja__sub-title {
  color: #121212;
}

.produkcja__text p {
  line-height: 140%;
  color: #FEFEFE;
}

.produkcja__link {
  margin: 100px 0 100px 130px;
}

.container-left [class*=__image] {
  background-position: bottom left;
}

.container-left [class*=__content] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 35px;
}

.general__cnt {
  max-width: 1920px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.general__c {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 180px 0 0 238px;
  width: 50%;
}

.general__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 90%;
  text-transform: uppercase;
  max-width: 615px;
}

.general__sub-title {
  position: relative;
  top: -40px;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  max-width: 500px;
}

.general__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 590px;
}

.general__text p {
  margin-left: 62px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FEFEFE;
}

.general__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.video__container {
  background-color: #000;
}

.video__title {
  color: #E52038;
}

.video__sub-title {
  color: #FFF;
}

.video__text {
  color: #FFF;
}

.video__link {
  margin: 100px 0 100px 130px;
}

.video__link a {
  color: #ffffff;
}

.specjalizacja__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 138px;
  padding-right: 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.specjalizacja__item {
  max-width: 400px;
  padding-bottom: 25px;
}

.specjalizacja__item:not(:last-child) {
  margin-right: 58px;
}

.specjalizacja__item-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 115%;
  color: #E52038;
  margin-bottom: 37px;
}

.specjalizacja__item-sub-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.specjalizacja__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #121212;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.specjalizacja__link:not(:last-child) {
  margin-bottom: 20px;
}

.specjalizacja__link::before {
  font-size: 24px;
  margin-right: 30px;
}

.production__container {
  background-color: #E52038;
}

.production__title {
  color: #FEFEFE;
}

.production__sub-title {
  color: #000000;
}

.production__text {
  color: #FEFEFE;
}

.production__link {
  margin: 100px 0 100px 130px;
}

.realizacje-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  max-width: 1920px;
  padding-right: 0 10px;
}

.realizacje__info {
  max-width: 341px;
  margin-right: 133px;
  margin-top: 345px;
}

.realizacje__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-bottom: 79px;
}

.info__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -29px;
  left: 0;
  background-color: #E52038;
}

.info__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #000000;
}

.info__social {
  margin-top: 29px;
  margin-bottom: 93px;
}

.info__link {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 125%;
  color: #E52038;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.galery__images {
  display: grid;
  grid-template-columns: repeat(3, minmax(302px, 402px));
}

.galery__item {
  position: relative;
  padding: 0 100% 112.5% 0;
  overflow: hidden;
}

.galery__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.galery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 28px 0;
  background-color: #E52038;
  font-weight: 600;
  font-size: 30px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.galery__link span {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.galery__link:hover {
  background-color: #6b232c;
}

.galery__link:hover > span {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.team__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 98px 0;
}

.team__container > span {
  position: relative;
}

.team__container > span ::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 6px;
  background-color: #E52038;
}

.team__container > span h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
}

.team__container p {
  text-align: left;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: lowercase;
  max-width: 662px;
}

.team__slider {
  overflow: hidden;
  position: relative;
}

.team__slide {
  position: relative;
}

.team__name,
.team__link {
  position: absolute;
  z-index: 50;
  left: 62px;
}

.team__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  bottom: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  bottom: 30px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team__link:hover {
  color: #E52038;
  -webkit-transform: translateX(12px) scale(1.2);
  -ms-transform: translateX(12px) scale(1.2);
  transform: translateX(12px) scale(1.2);
}

.team__arrow {
  color: #FEFEFE !important;
  font-size: 32px !important;
  cursor: pointer;
}

.team__pagination {
  position: relative;
  z-index: 21;
  margin-top: -15px;
}

.team__pagination span.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: rgb(254, 254, 254);
}

.team__pagination span.swiper-pagination-bullet-active {
  background-color: #E52038;
}

.team-container {
  background-color: #000000;
  max-width: 1920px;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}

.klienti {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 156px;
}

.klienti__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: #121212;
  padding: 150px 0 75px 0;
}

.klienti__slider-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.klienti__arow-prev::after,
.klienti__arow-next::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../img/slider_big/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.klienti__arow-prev:not(.swiper-button-disabled),
.klienti__arow-next:not(.swiper-button-disabled) {
  cursor: pointer;
}

.klienti .swiper-pag {
  display: none;
  width: 30px;
  height: 30px;
}

.klienti__arow-prev::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 100px;
}

.klienti__arow-next::after {
  margin-left: 100px;
}

.slider__arrow {
  max-width: 1024px;
  overflow: hidden;
}

.zamov__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #E52038;
}

.zamov__title {
  padding: 8px;
}

.zamov__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: #FEFEFE;
  padding: 104px 0 15px 0;
}

.zamov__title p {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  padding-bottom: 31px;
}

.zamov__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.zamov__button {
  margin-bottom: 100px;
}

.zamov__button button {
  margin-top: 36px;
  padding: 13px 50px;
  background-color: #000;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
}

.zamov__textarea {
  width: 1050px;
  height: 180px;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 16px;
}

.zamov__button:hover {
  opacity: 0.7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 68px 98px 112px;
}

.footer__item a {
  color: #fff;
}

.footer__logo-logo {
  margin-bottom: 90px;
}

.footer__logo-logo img {
  max-width: 232px;
}

.footer__logo-copyright {
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-oNas,
.footer__info-oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__info-oNas :not(:last-child),
.footer__info-oferta :not(:last-child) {
  margin-bottom: 40px;
}

.footer__info-oferta {
  margin-left: 45px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer__contact :not(:last-child) {
  margin-bottom: 28px;
}

.footer__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__contact a span {
  margin-right: 15px;
}

.footer__contact a span img {
  width: 30px;
  height: 30px;
}

.footer__info-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #FFFFFF;
}

.footer__info-link a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__info-link :hover {
  color: #E52038;
}

.burger {
  width: 30px;
  height: 20px;
  position: relative;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 45%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.burger.active span {
  opacity: 0;
}

.header__burger-page {
  position: absolute;
  top: -100%;
  display: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__burger-page.lock {
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  z-index: -1;
  padding-top: 150px;
  color: aliceblue;
  -webkit-animation: b_anim_out;
  animation: b_anim_out;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.header__burger-page a {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

.header__burger-page a:hover {
  color: #E52038;
}

@-webkit-keyframes b_anim_out {
  0% {
    top: -150px;
    left: 0;
  }

  100% {
    top: 0%;
    left: 0;
  }
}

@keyframes b_anim_out {
  0% {
    top: -150px;
    left: 0;
  }

  100% {
    top: 0%;
    left: 0;
  }
}

@media (min-width: 920px) {
  .specjalizacja__link:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: translate(5px, 0%);
    -ms-transform: translate(5px, 0%);
    transform: translate(5px, 0%);
    text-shadow: 1px 2px 3px red;
  }
}

@media (min-width: 1020px) {
  .social.ts img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 2px 20px #fff;
    box-shadow: 0px 2px 20px #fff;
  }

  .social img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 2px 20px #E52038;
    box-shadow: 0px 2px 20px #E52038;
  }

  .info__link:hover {
    -webkit-transform: scale(1.1) translateX(10px);
    -ms-transform: scale(1.1) translateX(10px);
    transform: scale(1.1) translateX(10px);
    color: #000;
    opacity: 0.8;
  }

  .galery__item img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
  }
}

@media (min-width: 1150px) {
  .header__contact-email a:hover img {
    -webkit-transform: translate(15px, 0px);
    -ms-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
  }
}

@media (max-width: 1765px) {
  .realizacje__info {
    margin-right: calc((1vw - 1vh) * 9);
    margin-top: calc((1vw + 1vh) * 7);
  }
}

@media (max-width: 1700px) {
  .founded__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 100px;
    margin-top: 100px;
  }

  .founded__item-title {
    font-size: 50px;
  }

  .founded__text {
    font-size: 16px;
  }
}

@media (max-width: 1600px) {
  .screen__slide p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 100px;
    line-height: 100px;
  }
}

@media (max-width: 1570px) {
  .specjalizacja__container {
    padding-right: 50px;
  }
}

@media (max-width: 1520px) {
  .specjalizacja__container {
    padding-right: 0px;
  }
}

@media (max-width: 1500px) {
  .founded__container {
    padding: 0 10px;
  }

  .realizacje-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
  }

  .realizacje__info {
    max-width: 80%;
    margin-top: 25px;
    text-align: center;
  }

  .info__title {
    font-size: 24px;
  }

  .info__social {
    margin-bottom: 20px;
  }

  .galery__images {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(2, minmax(302px, 402px));
  }
}

@media (max-width: 1480px) {
  .specjalizacja__item:not(:last-child) {
    margin-right: 28px;
  }
}

@media (max-width: 1400px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 1390px) {
  .specjalizacja__container {
    padding-top: 60px;
  }

  .specjalizacja__item:not(:last-child) {
    margin-right: 10px;
  }

  .specjalizacja__item-title {
    font-size: 28px;
  }

  .specjalizacja__item-sub-title {
    font-size: 16px;
  }

  .specjalizacja__link {
    font-size: 18px;
  }
}

@media (max-width: 1330px) {
  .header__container {
    padding: 30px 10px;
  }

  .header__social a:not(:last-child) {
    margin-right: 20px;
  }

  .header__social a:last-child {
    margin-right: 40px;
  }
}

@media (max-width: 1300px) {
  .founded__item:not(:last-child) {
    max-width: 350px;
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .general__c {
    padding: 100px 0 0 100px;
  }
}

@media (max-width: 1150px) {
  .header__contact-email a:not(:last-child) {
    margin-right: 40px;
  }

  .header__contact-email a img {
    margin-right: 10px;
  }
}

@media (max-width: 1129px) {
  .specjalizacja__item {
    max-width: 300px;
  }
}

@media (max-width: 1100px) {
  .zamov__title {
    width: 600px;
  }

  .zamov__textarea {
    width: 600px;
  }
}

@media (max-width: 1093px) {
  .header__social {
    display: none;
  }
}

@media (max-width: 1045px) {
  .specjalizacja__link::before {
    font-size: 24px;
    margin-right: 15px;
  }
}

@media (max-width: 1029px) {
  .specjalizacja__container {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 5px;
  }

  .specjalizacja__item {
    max-width: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
  }
}

@media (max-width: 1028px) {
  .specjalizacja__item-title {
    max-width: 318px;
  }

  .specjalizacja__item-sub-title {
    max-width: 318px;
  }
}

@media (max-width: 1000px) {
  .screen__container {
    height: 60vh;
  }

  .screen__slide {
    padding-left: 50px;
  }

  .klienti__arow-prev::after {
    margin-right: 40px;
  }

  .klienti__arow-next::after {
    margin-left: 40px;
  }
}

@media (max-width: 999px) {
  .screen-pagination {
    top: -30px;
  }

  .screen .screen__swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }

  .team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0;
  }

  .team__container > span ::after {
    margin-bottom: 20px;
  }

  .team__container > span h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .team__container p {
    font-size: 14px;
    margin: 0 32px;
  }

  .klienti {
    padding-bottom: 80px;
  }

  .klienti__title {
    padding: 80px 0 25px 0;
  }

  .klienti__arow-prev::after,
  .klienti__arow-next::after {
    display: none;
  }

  .klienti .swiper-pag {
    padding-bottom: 15px;
    display: inline-block;
  }

  .slider__arrow {
    max-width: 616 px;
  }
}

@media (max-width: 990px) {
  .screen__slide p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 70px;
    line-height: 80px;
  }
}

@media (max-width: 919px) {
  .header__burger {
    display: block;
  }

  .header__logo {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo img {
    width: 250px;
  }

  .header__contact-email {
    display: none;
  }

  .general__c {
    padding: 50px 0 0 20px;
  }
}

@media (max-width: 870px) {
  .social {
    margin-top: 30px;
  }
}

@media (max-width: 840px) {
  .realizacje__info {
    margin: 0 auto;
    margin-top: 25px;
  }
}

@media (max-width: 799px) {
  .general__title {
    font-size: 70px;
  }

  .general__sub-title {
    font-size: 30px;
    max-width: 300px;
  }

  .general__image {
    opacity: 0.5;
  }
}

@media (max-width: 790px) {
  .header__burger-page.lock {
    padding-top: 100px;
  }
}

@media (max-width: 700px) {
  .screen__container {
    height: 40vh;
  }

  .screen__slide {
    padding-left: 20px;
  }

  .founded__container {
    margin-top: 80px;
    padding: 0 10px;
  }

  .specjalizacja__container {
    padding-top: 15px;
  }

  .specjalizacja__item-title {
    margin-bottom: 15px;
  }

  .team__slide {
    height: 300px;
  }

  .klienti {
    padding-bottom: 20px;
  }

  .klienti__title {
    padding: 20px 0 15px 0;
  }

  .slider__arrow {
    max-width: 462 px;
  }
}

@media (max-width: 692px) {
  .social.ts {
    margin-top: 5px;
  }

  .footer__container {
    padding: 25px 30px 30px;
  }

  .footer__logo-logo {
    margin-bottom: 20px;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__info-oNas :not(:last-child),
  .footer__info-oferta :not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__info-oferta {
    margin-left: 0;
    padding: 15px 0 25px 0;
  }

  .footer__contact :not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 680px) {
  .specjalizacja__item {
    max-width: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 650px) {
  .produkcja__link {
    margin: 20px 0 20px 130px;
  }

  .general__title {
    font-size: 40px;
    max-width: 315px;
  }

  .general__sub-title {
    font-size: 22px;
    max-width: 315px;
    top: -15px;
  }

  .video__link {
    margin: 20px 0 20px 130px;
  }

  .production__link {
    margin: 20px 0 20px 130px;
  }
}

@media (max-width: 640px) {
  .galery__images {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(1, 320px);
  }
}

@media (max-width: 630px) {
  .zamov__title {
    width: 320px;
  }

  .zamov__button {
    margin-bottom: 20px;
  }

  .zamov__textarea {
    width: 300px;
    height: 90px;
  }
}

@media (max-width: 625px) {
  .zamov__title h2 {
    font-size: 28px;
    line-height: 65%;
    padding: 54px 0 15px 0;
  }

  .zamov__title p {
    font-size: 16px;
    line-height: 100%;
    padding-bottom: 5px;
  }
}

@media (max-width: 620px) {
  .general__c {
    padding: 20px 0 0 0px;
  }

  .general__text img {
    margin-bottom: 20px;
  }

  .general__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .general__text p {
    font-size: 16px;
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .screen__slide p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 40px;
    line-height: 50px;
  }

  .container-left [class*=__content] {
    margin-right: 10px;
  }

  .specjalizacja__link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 560px) {
  .team__container {
    margin: 0 10px;
  }

  .team__container p {
    margin: 0 10px;
  }
}

@media (max-width: 550px) {
  .founded__container {
    margin-top: 20px;
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .founded__text ._padding {
    margin-bottom: 15px;
  }
}

@media (max-width: 495px) {
  .slider__arrow {
    max-width: 310 px;
  }
}

@media (max-width: 425px) {
  .zamov__title h2 {
    padding: 20px 0 20px 0;
  }
}

@media (max-width: 350px) {
  .footer__container {
    padding: 25px 10px 30px;
  }
}